body {
    background-color: var(--main-bg-color);
}

div {
    display: block;
    color: var(--default-text-color);
}

.page-navigator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.page-button {
    background-color: var(--highlight-blue);
    color: var(--default-text-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12pt;
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5% 20%;

}

.form-button {
    width: 70%;
    width: 60%;
    margin: 5% 20%;
}

.basic_text {
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    color: var(--default-text-color);
    font-size: 9pt;
    padding: 5px;
}

.login_holder {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.login-form {
    width: 50%;
    padding: 20px;
    float: left;
}

.login-qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
    float: left;

}

.login-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/nft_background.webp');
    object-fit: cover;
    
}


.alert-danger {
    background-color: #902925;
    color: var(--default-text-color);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #4e9025;
    color: var(--default-text-color);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}


h1 {
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    padding-top: 10px;
    color: var(--default-text-color);
}

h3 {
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    padding-top: 10px;
    color: var(--default-text-color);
}

input[type="file"] {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.custom-file-upload {
    position: relative;
    overflow: hidden;
    color: var(--main-bg-color);
    background-color: var(--main-bg-color);
    animation: pulse-white 2s infinite;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    border-radius: 30%;
    
}

input[type="text"], input[type="password"], input[type="email"], input[type="checkbox"], select{
    border-radius: 2px;
    color: var(--default-text-color);
    padding: 10px;
    background-color: var(--input-bg-color);
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
    accent-color: #3677b7;
}

input[type=checkbox] {
    appearance: none;
    border: 1px solid #32353c;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: var(--input-bg-color);
    color: var(--input-bg-color);
    height: 10px;
    width: 10px;
    text-align: center;
    vertical-align: middle;
}

input[type=checkbox]:checked {
    border: 1px solid #579efa;
    background-color: #38699b;
}

input[type=checkbox]:focus {
    border: 1px solid #579efa;
    color: var(--input-selected-color);
}


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus {
    border-width: 3px;
    color: var(--default-text-color);
    background-color: var(--input-selected-color);
}

label {
    padding-top: 10px;
    color: var(--default-text-color);
}

::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}

.content_container {
    width: 50%;
    margin: 5% 20%;
    padding: 0;
    background-color:var(--main-bg-color-rgba);
    
}

.center-div-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.nav_bar {
    background: var(--nav-bar-color);
    min-width: 940px;
    width: 100%;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    height: fit-content;
    overflow: hidden;
}

.logo_container {
    float: left;
    padding-top: 2px;
    margin-right: 40px;
    padding-right: 30px;

}

.supernav_container {
    left: 200px;
}

#global_actions {
    position: absolute;
    right: 0px;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: var(--default-text-color);
    font-size: 11px;
    z-index: 401;
}

.menuitem {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


.header_installsteam_btn_content {
    display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-image: url('/static/download-white.svg');
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
    background-color: #5c7e10;
    background-size: 15px;
}


:root {
    --default-text-color: #d3d4d5;
    --main-bg-color: #181A21;
    --main-bg-color-rgba: rgba(24, 26, 33, 0.95);
    --input-bg-color: #32353c;
    --input-selected-color: #454a53;
    --nav-bar-color: #222b37;
    --highlight-blue: #1999ff;
}

.list-group {
    width: 100%;
    flex-direction: column;
}

.list-group-item {
    display: block;
    background-color: var(--input-bg-color);
    padding: 20px 15px;
    margin: 20px 0;
    max-width: 50%;
    min-width: 50%;
}
